@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
}

.tagline {
  margin-left: 5%;
  font-size: 25px;
}