@import "./_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,700&display=swap');

.main__contactcontainer {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    width: 30vw;

    input {
      border-radius: 10px;
      background-color: rgb(224, 224, 224);
      border: 0;
      box-shadow: none;
      padding: 10px;
      width: 30vw;
      margin-bottom: 3vh;
    }

    .contact__label {
      text-align: left;
      padding-bottom: 1vh;
      font-family: 'Open Sans', sans-serif;
    }
    
    contact-submit-btn {
      text-align: center;
    }

    button {
      width: 30vw;
      background-color: $form__button;
      border: 0;
      box-shadow: none;
      padding: 10px;
      border-radius: 10px;
      color: white;
      font-size: 20px;
    }
  }
}