@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,700&display=swap");
.main__contactcontainer {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__contactcontainer form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.main__contactcontainer form input {
  border-radius: 10px;
  background-color: #e0e0e0;
  border: 0;
  box-shadow: none;
  padding: 10px;
  width: 30vw;
  margin-bottom: 3vh;
}
.main__contactcontainer form .contact__label {
  text-align: left;
  padding-bottom: 1vh;
  font-family: "Open Sans", sans-serif;
}
.main__contactcontainer form contact-submit-btn {
  text-align: center;
}
.main__contactcontainer form button {
  width: 30vw;
  background-color: #2EB67D;
  border: 0;
  box-shadow: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}