@import "./_variables.scss";

form {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 10% auto;
  width: 30vw;
  text-align: end;
  grid-template-rows: 30px 30px 100px;
  grid-row-gap: 25px;
  grid-column-gap: 15px;
  justify-content: center;
  height: 15vh;
}

.center {
  align-self: center;
}

.notcenter {
  margin-top: 10px;
}

form > input {
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
  border: 0;
  box-shadow: none;
  padding: 10px;
}

.contact-submit-btn {
  text-align: center;
}

button {
  width: 30vw;
  background-color: $cta-button-color;
  border: 0;
  box-shadow: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}