@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,700&display=swap");
.cv__mainbody {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.cv__mainbody article {
  height: 80vh;
  width: 80%;
}
.cv__mainbody #sidebar {
  background-color: #ECB22E;
  height: 80vh;
  width: 20%;
}
.cv__mainbody #sidebar .fa-file-pdf {
  height: 50px;
  width: 50px;
  color: white;
}
.cv__mainbody #sidebar .fa-file-word {
  height: 50px;
  width: 50px;
  color: white;
}
.cv__mainbody h4 {
  margin-top: 5vh;
  margin-left: 2vw;
}
.cv__mainbody li {
  margin-left: 3vw;
}