@import "./_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,700&display=swap');

nav {
  display: grid;
  width: 100vw;
  height: 10vh;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-top: 15px;
}

nav > h1 {
  font-size: 60px;
  margin-left: 5%;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
}

nav > a {
  text-decoration: none;
  color: black;
  width: 50%;
  text-align: center;
}

nav > a:hover {
  color: white;
  background-color: $navbar__hover--color;
  border-radius: 40px;
  padding: 15px;
}