@import "./_variables.scss";

nav {
  display: grid;
  width: 100vw;
  height: 10vh;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-top: 15px;
}

nav > h1 {
  font-size: 50px;
  margin-left: 5%;
  margin-bottom: 15px;
}

nav > a {
  text-decoration: none;
  color: black;
  width: 50%;
  text-align: center;
}

nav > a:hover {
  color: white;
  background-color: $navbar__hover--color;
  border-radius: 40px;
  padding: 15px;
}