@import "./_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,700&display=swap');

.main__container {
  width: 100vw;
  height: 84vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.projects__placeholder {
  height: 60vh;
  width: 50vw;
  background-color: black;
  color: white;
}