@import "./_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,700&display=swap');

.main__container {
  width: 100%;
  height: 84vh;
  display: flex;
  align-items: center;
}

.projects__placeholder {
  height: 60vh;
  width: 50%;
  border-style:solid;
  border-width:5px;  
  border-color:red $form__button $navbar__hover--color $cv__sidebar;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  .projects__portfolioimage {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }

}

.projects__memoji {
  display: flex;
  height: 60vh;
  width: 25%;
}

.projects__memojiimage {
  height: 50%;
  width: 50%;
  margin: auto;
}