form {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 10% auto;
  width: 30vw;
  text-align: end;
  grid-template-rows: 30px 30px 30px;
  grid-row-gap: 25px;
  grid-column-gap: 15px;
  justify-content: center;
  height: 20vh;
}

.center {
  align-self: center;
}

.notcenter {
  margin-top: 10px;
}

form > input {
  border-radius: 10px;
  background-color: #e0e0e0;
  border: 0;
  box-shadow: none;
  padding: 10px;
}

.contact-submit-btn {
  text-align: center;
}

button {
  width: 30vw;
  background-color: #2EB67D;
  border: 0;
  box-shadow: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
}

.tagline {
  margin-left: 5%;
  font-size: 25px;
}

nav {
  display: grid;
  width: 100vw;
  height: 10vh;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-top: 15px;
}

nav > h1 {
  font-size: 50px;
  margin-left: 5%;
  margin-bottom: 15px;
}

nav > a {
  text-decoration: none;
  color: black;
  width: 50%;
  text-align: center;
}

nav > a:hover {
  color: white;
  background-color: #36C5F0;
  border-radius: 40px;
  padding: 15px;
}

.project__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
}