@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,700&display=swap");
.main__contactcontainer {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__contactcontainer form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.main__contactcontainer form input {
  border-radius: 10px;
  background-color: #e0e0e0;
  border: 0;
  box-shadow: none;
  padding: 10px;
  width: 30vw;
  margin-bottom: 3vh;
}
.main__contactcontainer form .contact__label {
  text-align: left;
  padding-bottom: 1vh;
  font-family: "Open Sans", sans-serif;
}
.main__contactcontainer form contact-submit-btn {
  text-align: center;
}
.main__contactcontainer form button {
  width: 30vw;
  background-color: #2EB67D;
  border: 0;
  box-shadow: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
}

.tagline {
  margin-left: 5%;
  font-size: 25px;
}

.cv__mainbody {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.cv__mainbody .CV__articlecontainer {
  height: 100%;
  width: 80%;
  margin-top: 5vh;
}
.cv__mainbody .CV__articlecontainer .Dev__icons {
  height: 100px;
  width: 150px;
  margin-left: 2%;
}
.cv__mainbody .CV__articlecontainer .React__icon {
  height: 70px;
  width: 160px;
  background-color: black;
}
.cv__mainbody article {
  height: 80vh;
  width: 80%;
}
.cv__mainbody #sidebar {
  background-color: #2EB67D;
  height: 78vh;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cv__mainbody #sidebar .sidebar__imagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40vh;
  margin-bottom: 20%;
}
.cv__mainbody #sidebar .sidebar__imagecontainer h3 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 20px;
}
.cv__mainbody #sidebar .fa-file-pdf {
  height: 80px;
  width: 80px;
  color: white;
}
.cv__mainbody #sidebar .fa-file-word {
  height: 80px;
  width: 80px;
  color: white;
}
.cv__mainbody h4 {
  margin-left: 2vw;
}
.cv__mainbody h5 {
  margin-left: 2vw;
}
.cv__mainbody li {
  margin-left: 4vw;
}

nav {
  display: grid;
  width: 100vw;
  height: 10vh;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-top: 15px;
}

nav > h1 {
  font-size: 60px;
  margin-left: 5%;
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
}

nav > a {
  text-decoration: none;
  color: black;
  width: 50%;
  text-align: center;
}

nav > a:hover {
  color: white;
  background-color: #36C5F0;
  border-radius: 40px;
  padding: 15px;
}

h3 {
  padding-bottom: 2vh;
}

.main__container {
  width: 100%;
  height: 84vh;
  display: flex;
  align-items: center;
}

.projects__placeholder {
  height: 60vh;
  width: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: red #2EB67D #36C5F0 #ECB22E;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects__placeholder .projects__portfolioimage {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.projects__memoji {
  height: 60vh;
  width: 25%;
}

.projects__memojiimage {
  margin: auto;
}

footer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: lightgrey;
  width: 100%;
  height: 10vh;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.footer__imagecontainer {
  display: flex;
  height: 10vh;
  width: 50%;
  margin-left: 25%;
  align-items: center;
  justify-content: center;
}

.footer__image {
  height: 50px;
  width: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.mid__image {
  height: 50px;
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

* {
  margin: 0;
  padding: 0;
}