form {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 10% auto;
  width: 30vw;
  text-align: end;
  grid-template-rows: 30px 30px 30px;
  grid-row-gap: 25px;
  grid-column-gap: 15px;
  justify-content: center;
  height: 20vh;
}

.center {
  align-self: center;
}

.notcenter {
  margin-top: 10px;
}

form > input {
  border-radius: 10px;
  background-color: #e0e0e0;
  border: 0;
  box-shadow: none;
  padding: 10px;
}

.contact-submit-btn {
  text-align: center;
}

button {
  width: 30vw;
  background-color: #2EB67D;
  border: 0;
  box-shadow: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
}

.tagline {
  margin-left: 5%;
  font-size: 25px;
}

nav {
  display: grid;
  width: 100vw;
  height: 10vh;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-top: 15px;
}

nav > h1 {
  font-size: 50px;
  margin-left: 5%;
  margin-bottom: 15px;
}

nav > a {
  text-decoration: none;
  color: black;
  width: 50%;
  text-align: center;
}

nav > a:hover {
  color: white;
  background-color: #36C5F0;
  border-radius: 40px;
  padding: 15px;
}

projects__placeholder {
  height: 50vh;
  width: 50vw;
  background-color: black;
}

footer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: lightgrey;
  width: 100vw;
  height: 10vh;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.footer__imagecontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  width: 50vw;
  margin-top: 2vh;
  margin-left: 25vw;
}

.fab {
  background-color: black;
  height: 4vh;
  width: 4vw;
}

* {
  margin: 0;
  padding: 0;
}