@import "./_404.scss";
@import "./_contact.scss";
@import "./_content.scss";
@import "./_cv.scss";
@import "./_nav.scss";
@import "./_projects.scss";
@import "./_variables.scss";
@import "./footer.scss";

* {
  margin: 0;
  padding: 0;
}