footer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: lightgrey;
  width: 100vw;
  height: 10vh;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.footer__imagecontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  width: 50vw;
  margin-top: 2vh;
  margin-left: 25vw;
}

.fab {
  color: white;
  height: 4vh;
  width: 4vw;
}