footer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: lightgrey;
  width: 100vw;
  height: 10vh;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.footer__linkedin {
  height: 50px;
}

.footer__github {
  height: 50px;
}

.footer__twitter {
  height: 50px;
}