@import "./_variables.scss";

footer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: lightgrey;
  width: 100vw;
  height: 10vh;
}

.footer__linkedin {
  height: 50px;
}

.footer__github {
  height: 50px;
}